{% extends 'layout.html' %}
{% block content %}
<h1>Administrative View<a role="button" class="btn btn-default pull-right" href="{{ url_for('edit') }}" tabindex="-1">Edit as JSON</a></h1>
<!--Units-->
<h2>Units</h2>
<div class="panel-group">
	{% for u in units %}
	<div class="panel panel-success">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-target="{{ '#collapse-unit' ~ loop.index }}">
				(#{{ u.id }}): {{ u.title }} (Starts {{ momentjs(u.lessons.first().epoch_time).calendar() }})
				</a>
				<a href="{{ url_for('edit_unit', unit_id=u.id) }}" class="pull-right">Edit Unit</a>
			</h4>
		</div>
		<div id="{{ 'collapse-unit' ~ loop.index }}" class="panel-collapse collapse">
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Title</dt>
					<dd>{{ u.title }}</dd>
					<dt>Description</dt>
					<dd>{{ u.description }}</dd>
					<dt>Number of Lessons</dt>
					<dd>{{ u.lessons.all()|length }}</dd>
					<dt>Visible?</dt>
					<dd>{{ u.visible }}</dd>
				</dl>
			</div>
		</div>
	</div>
	{% else %}
	<p>There are no units in the database.</p>
	{% endfor %}
</div>
<!--End Units-->
<!--Lessons-->
<h2>Lessons</h2>
<div class="panel-group">
	{% for lesson in lessons %}
	<div class="panel panel-info">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-target="{{ '#collapse-lesson' ~ loop.index }}">
					(#{{ lesson.id }}): {{ momentjs(lesson.epoch_time).calendar() }}
				</a>
				<a href="{{ url_for('edit_lesson', lesson_id=lesson.id) }}" class="pull-right">Edit Lesson</a>
			</h4>
		</div>
		<div id="{{ 'collapse-lesson' ~ loop.index }}" class="panel-collapse collapse">
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Items</dt>
					<dd>
						<ul class="list-unstyled">
						{% for item in lesson.get_items() %}
							<li>{{ item }}</li>
						{% else %}
							<li>No items in log</li>
						{% endfor %}
						</ul>
					</dd>
					<dt>Homework</dt>
					<dd>{{ lesson.homework }}</dd>
					<dt>Additional</dt>
					<dd>{{ lesson.additional }}</dd>
					<dt>Belongs To: </dt>
					<dd>Unit #{{ lesson.unit_id }}</dd>
					<dt>Date</dt>
					<dd>{{ momentjs(lesson.epoch_time).format('dddd[, ]MMMM Do') }}</dd>
					<dt>Week of Year</dt>
					<dd>{{ lesson.week_of_year }}</dd>
				</dl>
			</div>
		</div>
	</div>
	{% else %}
	<p>There are no lessons in the database.</p>
	{% endfor %}
</div>
<!--End Lessons-->
<!--Carousel Items-->
<h2>Carousel Items</h2>
<div class="panel-group">
	{% for item in items %}
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-target="{{ '#collapse-item' ~ loop.index }}">
					(#{{ item.id }}): {{ item.title }}
				</a>
				<a href="{{ url_for('edit_carousel', item_id=item.id) }}" class="pull-right">Edit Item</a>
			</h4>
		</div>
		<div id="{{ 'collapse-item' ~ loop.index }}" class="panel-collapse collapse">
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Title</dt>
					<dd>{{ item.title }}</dd>
					<dt>Description</dt>
					<dd>{{ item.description }}</dd>
					<dt>Source</dt>
					<dd>{{ item.src }}</dd>
					<dt>Alt</dt>
					<dd>{{ item.alt }}</dd>
				</dl>
			</div>
		</div>
	</div>
	{% else %}
	<p>There are no carousel items in the database.</p>
	{% endfor %}
</div>
<!--End Carousel Items-->
<!--References-->
<h2>References</h2>
<div class="panel-group">
	{% for ref in references %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-target="{{ '#collapse-ref' ~ loop.index }}">
					(#{{ ref.id }}): {{ ref.title }}
				</a>
				<a href="{{ url_for('edit_reference', reference_id=ref.id) }}" class="pull-right">Edit Reference</a>
			</h4>
		</div>
		<div id="{{ 'collapse-ref' ~ loop.index }}" class="panel-collapse collapse">
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Title</dt>
					<dd>{{ ref.title }}</dd>
					<dt>Link</dt>
					<dd>{{ ref.href }}</dd>
					<dt>Media Type</dt>
					<dd>{{ ref.media_type }}</dd>
				</dl>
			</div>
		</div>
	</div>
	{% else %}
	<p>There are no references in the database.</p>
	{% endfor %}
</div>
<!--End References-->
{% endblock %}