{% extends 'layout.html' -%}
{% block content -%}
<h1>Administrative View <small>Only Dr. Dann should be here (but there is no checking yet).</small></h1>
<!--Units-->
<h2>Units<a type="button" class="btn btn-default pull-right" href="#" tabindex="-1">Edit as JSON</a><a type="button" class="btn btn-default pull-right" href="#" tabindex="-1">Assign Classes</a></h2>
<div class="panel-group">
	{% for u in units %}
	<div class="panel panel-success">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-target="{{ '#collapse-unit' ~ loop.index }}">
				(#{{ u.id }}): {{ u.title }}
				</a>
				<a href="{{ url_for('edit_unit', unit_id=u.id) }}" class="pull-right">Edit Unit</a>
			</h4>
		</div>
		<div id="{{ 'collapse-unit' ~ loop.index }}" class="panel-collapse collapse">
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Title</dt>
					<dd>{{ u.title }}</dd>
					<dt>Description</dt>
					<dd>{{ u.description }}</dd>
					<dt>Num Classes</dt>
					<dd>{{ u.classes.all()|length }}</dd>
				</dl>
			</div>
		</div>
	</div>
	{% else %}
	<p>There are no units in the database.</p>
	{% endfor %}
</div>
<!--End Units-->
<!--Classes-->
<h2>Classes<a type="button" class="btn btn-default pull-right" href="#" tabindex="-1">Edit as JSON</a><a type="button" class="btn btn-default pull-right" href="#" tabindex="-1">Change Dates</a></h2>
<div class="panel-group">
	{% for c in classes %}
	<div class="panel panel-info">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-target="{{ '#collapse-class' ~ loop.index }}">
					(#{{ c.id }}): {{ momentjs(c.epoch_time).calendar() }}
				</a>
				<a href="{{ url_for('edit_class', class_id=c.id) }}" class="pull-right">Edit Class</a>
			</h4>
		</div>
		<div id="{{ 'collapse-class' ~ loop.index }}" class="panel-collapse collapse">
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Class Log</dt>
					<dd>
						<ul class="list-unstyled">
						{% for item in c.getItems() %}
							<li>{{ item }}</li>
						{% else %}
							<li>No items in class log</li>
						{% endfor %}
						</ul>
					</dd>
					<dt>Homework</dt>
					<dd>{{ c.homework }}</dd>
					<dt>Additional</dt>
					<dd>{{ c.additional }}</dd>
					<dt>Unit</dt>
					<dd>#{{ c.unit_id }}</dd>
					<dt>Date</dt>
					<dd>{{ momentjs(c.epoch_time).format('dddd[, ]MMMM Do') }}</dd>
					<dt>Day of Week</dt>
					<dd>{{ c.day_of_week }}</dd>
					<dt>Week of Year</dt>
					<dd>{{ c.week_of_year }}</dd>
					<dt>Seconds Since Epoch</dt>
					<dd>{{ c.epoch_time }}</dd>
				</dl>
			</div>
		</div>
	</div>
	{% else %}
	<p>There are no classes in the database.</p>
	{% endfor %}
</div>
<!--End Classes-->
<!--Carousel Items-->
<h2>Carousel Items <a type="button" class="btn btn-default pull-right" href="{{ url_for('edit_carousel') }}" tabindex="-1">Edit as JSON</a></h2>
<div class="panel-group">
	{% for item in items %}
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-target="{{ '#collapse-item' ~ loop.index }}">
					(#{{ item.id }}): {{ item.title }}
				</a>
				<a href="{{ url_for('edit_carousel_item', item_id=item.id) }}" class="pull-right">Edit Item</a>
			</h4>
		</div>
		<div id="{{ 'collapse-item' ~ loop.index }}" class="panel-collapse collapse">
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Title</dt>
					<dd>{{ item.title }}</dd>
					<dt>Description</dt>
					<dd>{{ item.description }}</dd>
					<dt>Source</dt>
					<dd>{{ item.src }}</dd>
					<dt>Alt</dt>
					<dd>{{ item.alt }}</dd>
				</dl>
			</div>
		</div>
	</div>
	{% else %}
	<p>There are no carousel items in the database.</p>
	{% endfor %}
</div>
<!--End Carousel Items-->
{%- endblock %}