{% extends 'layout.html' -%}
{% block content -%}
<!-- Nav tabs -->
<ul class="nav nav-pills nav-justified">
  <li class="active"><a id="content-tab" href="#" data-toggle="pill">Content (Units and Classes)</a></li>
  <li><a id="carousel-item-tab" href="#" data-toggle="pill">Carousel Items</a></li>
  <li><a id="main-link-tab" href="#" data-toggle="pill">Main Links</a></li>
  <li><a id="date-tab" href="#" data-toggle="pill">Dates</a></li>
</ul>
<div id="editor"></div>
<div class="btn-group btn-group-justified btn-group-lg">
	<a class="btn btn-info" id="verify" role="button">Verify</a>
	<a class="btn btn-primary" id="submit" role="button">Submit</a>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
	var editor = ace.edit("editor");
	editor.setTheme('/static/js/theme-kuroir');
	editor.getSession().setMode("ace/mode/json");
	
	//Fetch JSON data from the server
	$.getJSON("/getAll/", function(data) {
		var content = JSON.stringify(data['content'], null, 2);
		var carouselItems = JSON.stringify(data['carousel_items'], null, 2);
		var mainLinks = JSON.stringify(data['main_links'], null, 2);
		var dates = JSON.stringify(data['dates'], null, 2);

		var contentSession = ace.createEditSession(content, "ace/mode/json");
		var carouselItemSession = ace.createEditSession(carouselItems, "ace/mode/json");
		var mainLinkSession = ace.createEditSession(mainLinks, "ace/mode/json");
		var dateSession = ace.createEditSession(dates, "ace/mode/json");

		editor.setSession(contentSession);

		$("#content-tab").click(function() {
			editor.setSession(contentSession);
		});
		$("#carousel-item-tab").click(function() {
			editor.setSession(carouselItemSession);
		});
		$("#main-link-tab").click(function() {
			editor.setSession(mainLinkSession);
		});
		$("#date-tab").click(function() {
			editor.setSession(dateSession);
		});

		$("#verify").click(function() {

		});

		$("#submit").click(function() {
			var contentDict = JSON.parse(contentSession.getDocument().getAllLines().join(""));
			var carouselItemDict = JSON.parse(carouselItemSession.getDocument().getAllLines().join(""));
			var mainLinkDict = JSON.parse(mainLinkSession.getDocument().getAllLines().join(""));
			var dateDict = JSON.parse(dateSession.getDocument().getAllLines().join(""));
			console.log(dateDict);
			var all = {"content":contentDict, "carousel_items":carouselItemDict, "main_links":mainLinkDict, "dates":dateDict};
			console.log(JSON.stringify(all));
			$.ajax({
		    type : "POST",
		    url : "/edit/",
		    data: {"all": JSON.stringify(all)},
		    success: function(result) {
		        console.log(result);
		    }
			});
		});
	});
</script>
{% endblock %}