{% extends 'layout.html' -%}
{% block content -%}
<h2>Change Carousel Items<button type="button" class="btn btn-default pull-right" id="help" data-container="body" data-toggle="popover" data-placement="left" data-content="All carousel items need a title, a description, a src (which points to an image), and (optionally) alt text">Help</button></h2>
<div id="editor">{{ classes }}</div>
To be completed
{% endblock %}
{% block scripts %}
$('#help').popover();
var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/json");
{% endblock %}