<!DOCTYPE html>
<html lang="en">
<head>
	<!--
	AP PHYSICS C WEBSITE for MENLO - Designed by Sam Redmond for Dr. Dann in 2013
	-->
	<meta charset="utf-8">
	{% if title -%}
	<title>{{ title }} - APC</title>
	{% else -%}
	<title>AP Physics C</title>
	{% endif -%}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="menlo, apc, dann, physics, ap, science">
	<meta name="description" content="A website for AP Physics C.">
	<meta name="author" content="Sam Redmond">

	<!-- Styles -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">

	<!-- Touch and fav icons -->
	<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />

	<!--Moment.js has to load before the page does, so that it can create dates as the client renders information-->
	<script src="/static/js/moment.min.js"></script>
	<script>
		//Custom text for momentjs's calendar() function
		moment.lang('en', {
			calendar : {
					lastDay : '[Yesterday]',
					sameDay : '[Today]',
					nextDay : '[Tomorrow]',
					lastWeek : '[Last] dddd',
					nextWeek : '[Upcoming] dddd',
					sameElse : 'dddd[, ]MMMM Do'
			}
		});
	</script>
</head>
<body>
	<div id="wrap">
		{% if render_navbar -%}
		<div class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href={{ url_for('index') }}>AP Physics C</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/loghw">Class Log and HW</a></li>
					</ul>
				</div><!--/.navbar-collapse-->
			</div>
		</div>
		{% endif -%}
		<!-- End navbar -->
		<!-- Begin Page Content -->
		<div class="container">
			<!--Flash any messages-->
			{% with messages = get_flashed_messages(with_categories=True) -%}
			{% if messages -%}
			{% for category, message in messages -%}
			<div class="{{ 'alert alert-dismissable ' ~ {'message':'alert-success', 'info': 'alert-info', 'warning': 'alert-warning', 'error': 'alert-danger'}[category] }}">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>{{ category|capitalize }}!</strong> {{ message }}
			</div>
			{% endfor -%}
			{% endif -%}
			{% endwith -%}
			<!--End message flashing-->
			<!--Content-->
			{% block content -%}
			{%- endblock %}
			<!--End content-->
		</div>
	</div>
	{% if render_footer -%}
	<!-- Begin footer -->
	<div id="footer">
		<div class="container">
			<p class="muted text-center">
				Built by Sam Redmond. Structured on <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap v3.0.3</a>
			</p>
			<p class="muted text-center">
				Code licensed under <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a> - <a href="http://glyphicons.com">Glyphicons Free</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.
			</p>
		</div>
	</div>
	<!-- End footer -->
	{% endif %}
	<!-- Scripts -->
	<!-- Placed at the end of the document so the pages load faster-->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/ace.js"></script>
	<script src="/static/js/main.js"></script>
	
	<!-- Start of StatCounter Code for Default Guide -->
	<script type="text/javascript">
	var sc_project=9719214; 
	var sc_invisible=1; 
	var sc_security="72994179"; 
	var scJsHost = (("https:" == document.location.protocol) ?
	"https://secure." : "http://www.");
	document.write("<sc"+"ript type='text/javascript' src='" +
	scJsHost+
	"statcounter.com/counter/counter.js'></"+"script>");
	</script>
	<noscript><div class="statcounter"><a title="site stats"
	href="http://statcounter.com/free-web-stats/"
	target="_blank"><img class="statcounter"
	src="http://c.statcounter.com/9719214/0/72994179/1/"
	alt="site stats"></a></div></noscript>
	<!-- End of StatCounter Code for Default Guide -->
	<!--Custom scripts per page-->
	<script>
	{% block scripts -%}
	{% endblock -%}
	</script>
</body>
</html>