{% extends 'layout.html' -%}

{% macro display_class(class, verbose=False) -%}
<dl class="dl-horizontal">
	{% if verbose -%}
	<dt class="text-primary">Date</dt>
	<dd class="text-primary">{{ momentjs(class.epoch_time).format('dddd[, ]MMMM Do') }}</dd>
	{%- endif %}
	<dt class="text-success">Class Log</dt>
	<dd class="text-success">
		<ul class="list-unstyled">
			{% for item in class.getItems() %}
				<li>{{ item|safe }}</li>
			{% else %}
				<li>None</li>
			{% endfor %}
		</ul>
	</dd>
	<dt class="text-danger">Homework</dt>
	<dd class="text-danger">{{ class.homework|safe }}</dd>
	<dt class="text-info">Additional</dt>
	<dd class="text-info">{{ class.additional|safe }}</dd>
</dl>
{%- endmacro %}

{% block content -%}
{% if render_current_week_schedule -%}
<!-- Nav tabs -->
<div class="alert alert-danger">Do homework the night it is assigned. HW is due the next day.</div>
<div id="current_week">
	<h3>Current Week</h3>
	<ul class="nav nav-pills nav-justified">
		<li class="{{ ('disabled' if classes[0] == None) ~ (' active' if day_of_week == 1) }}"><a href="#monday" data-toggle="pill">Monday</a></li>
		<li class="{{ ('disabled' if classes[1] == None) ~ (' active' if day_of_week == 2) }}"><a href="#tuesday" data-toggle="pill">Tuesday</a></li>
		<li class="{{ ('disabled' if classes[2] == None) ~ (' active' if day_of_week == 3) }}"><a href="#wednesday" data-toggle="pill">Wednesday</a></li>
		<li class="{{ ('disabled' if classes[3] == None) ~ (' active' if day_of_week == 4) }}"><a href="#thursday" data-toggle="pill">Thursday</a></li>
		<li class="{{ ('disabled' if classes[4] == None) ~ (' active' if (day_of_week == 5 or day_of_week == 6 or day_of_week == 0)) }}"><a href="#friday" data-toggle="pill">Friday</a></li>
	</ul>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="tab-content">
				<div class="{{ 'tab-pane fade' ~ (' in active' if day_of_week == 1) }}" id="monday">
					{{ display_class(classes[0], verbose=True) if classes[0] != None else "No Class Today" }}
				</div>
				<div class="{{ 'tab-pane fade' ~ (' in active' if day_of_week == 2) }}" id="tuesday">
					{{ display_class(classes[1], verbose=True) if classes[1] != None else "No Class Today" }}
				</div>
				<div class="{{ 'tab-pane fade' ~ (' in active' if day_of_week == 3) }}" id="wednesday">
					{{ display_class(classes[2], verbose=True) if classes[2] != None else "No Class Today" }}
				</div>
				<div class="{{ 'tab-pane fade' ~ (' in active' if day_of_week == 4) }}" id="thursday">
					{{ display_class(classes[3], verbose=True) if classes[3] != None else "No Class Today" }}
				</div>
				<div class="{{ 'tab-pane fade' ~ (' in active' if (day_of_week == 5 or day_of_week == 6 or day_of_week == 0)) }}" id="friday">
					{{ display_class(classes[4], verbose=True) if classes[4] != None else "No Class Today" }}
				</div>
			</div>
		</div>
	</div>
</div>
{% endif -%}
<div class="row" id="mainContent">
	{% if render_scrollspy -%}
	<div class="col-md-3">
		<div class="sidebar" role="complementary" id="sidebar">
			<ul class="nav sidenav">
			{% if units -%}
			{% for unit in units -%}
			{% set text_color = loop.cycle('text-primary', 'text-success', 'text-info')  -%}
			{% set ind = loop.index %}
				<li>
					<a href={{ "#heading-" ~ ind }}>
						<span class="{{ text_color }}">{{ unit.title }}</span>
					</a>
					<ul class="nav">
						{% for class in unit.classes.all() -%}
						<li><a href={{ '#heading-' ~ ind ~ "-" ~ loop.index }}>
							<span class="{{ text_color }}">{{ momentjs(class.epoch_time).calendar() }}</span>
						</a></li>
						{% endfor -%}
					</ul>
				</li>
			{%- endfor %}
			{%- endif %}
			</ul>
		</div>
	</div>
	{% endif -%}
	<div class="{{ 'col-md-9' if render_scrollspy else 'col-md-12' }}" role="main">
		<div id="homework">
			<div class="panel-group" id="accordion">
				{% if units -%}
				{% for unit in units -%}
				{% with ind = loop.index -%}
				<div class="{{ loop.cycle('panel panel-primary', 'panel panel-success', 'panel panel-info') }}" id="{{ 'accordion-' ~ ind }}">
					<div class="panel-heading" id="{{ 'heading-' ~ ind }}" >
						<h4 class="panel-title">
							<a data-toggle="collapse" data-target="{{ '#' ~ ind }}">
								{{ unit.title }}
							</a>
						</h4>
					</div>
					<div id="{{ ind }}" class="panel-collapse collapse in">
						<div class="panel-body">
							{{ unit.description }}
							<div class="panel-group" id="{{ 'accordion-' ~ unit['unit-name'] }}">
								{% for class in unit.classes.all() -%}
								<div class="panel panel-default">
									<div class="panel-heading" id="{{ 'heading-' ~ ind ~ '-' ~ loop.index }}">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-target="{{ '#' ~ ind ~ '-' ~ loop.index }}">
												{{ momentjs(class.epoch_time).format('dddd[ - ]MMMM Do') }}
											</a>
										</h4>
									</div>
									<div id="{{ ind ~ '-' ~ loop.index }}" class="panel-collapse collapse in">
										<div class="panel-body">
											{{ display_class(class) }}
										</div>
									</div>
								</div>
								{%- endfor %}
							</div>
						</div>
					</div>
				</div>
				{%- endwith %}
				{%- endfor %}
				{%- endif %}
			</div>
		</div>
	</div>
</div>
{% endblock -%}
{% block scripts -%}
<script>
	//Activate scrollspy behavior
	$('body').scrollspy({ target: '#sidebar' });
	//Refresh scrollspy behavior whenever an accordion object is collapsed or uncollapsed
	$('#accordion').on('shown.bs.collapse hidden.bs.collapse', function () {
		$('body').scrollspy('refresh');
	});
</script>
{%- endblock %}