{% extends 'layout.html' %}

{% macro display_class(class) -%}
    <p class="text-primary"><strong>Class Log:</strong> X, Y, Z</p>
	<p class="text-danger"><strong>Homework:</strong> {{ class['homework']|safe }}</p>
	{% if 'additional' in class %} <p class="text-info"><strong>Additional:</strong> {{ class['additional']|safe }}</p> {%- endif %}
{%- endmacro %}

{% block content %}
<!-- Nav tabs -->
<div class="alert alert-danger">Do homework the night it is assigned. HW is due the next day.</div>
<div id="current_week">
	<h3>Current Week</h3>
	<ul class="nav nav-pills nav-justified">
		<li><a href="#monday" data-toggle="pill">Monday</a></li>
		<li><a href="#tuesday" data-toggle="pill">Tuesday</a></li>
		<li class="disabled"><a href="#wednesday" data-toggle="pill">Wednesday</a></li>
		<li><a href="#thursday" data-toggle="pill">Thursday</a></li>
		<li><a href="#friday" data-toggle="pill">Friday</a></li>
	</ul>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="tab-content">
				<div class="tab-pane fade in active" id="monday">
					Words words words words words words Words words words words words words Words words words words words words
				</div>
				<div class="tab-pane fade" id="tuesday">
					Words words words words words words Words words words words words words Words words words words words words Words words words words words words
				</div>
				<div class="tab-pane fade" id="wednesday">
					Nothing
				</div>
				<div class="tab-pane fade" id="thursday">
					<ul>
						<li>Thing #1</li>
						<li>Thing #1</li>
						<li>Thing #1</li>
						<li>Thing #1</li>
					</ul>
					<div class="alert alert-danger">
						<strong>Homework:</strong> Do some stuff
					</div>
				</div>
				<div class="tab-pane fade" id="friday">
					<p class="text-primary"><strong>Class Log:</strong> X, Y, Z</p>
					<p class="text-danger"><strong>Homework:</strong> Do some stuff <a href="#" class="text-muted">Link</a></p>
					<p class="text-info"><strong>Additional:</strong> Read these webpages</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="quicknav">
	<h3>Quick Navigation</h3>
	<div class="btn-group btn-group-justified">
	{% if db %}
		{% for unit in db['data'] %}

		<a class="{{loop.cycle('btn btn-primary', 'btn btn-success', 'btn btn-info') }}" href={{ "#" ~ unit['unit-name'] }}>{{ unit['unit-title'] }}</a>
		
		{% endfor %}
	{% endif %}
	</div>
</div>
<div id="homework">
	<h3>Class Log and Homework</h3>
	<div class="panel-group" id="accordion">
	{% if db %}
		{% for unit in db['data'] %}
		<div class="{{ loop.cycle('panel panel-primary', 'panel panel-success', 'panel panel-info') }} id={{ unit["unit-name"] }}">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-target={{ "#" ~ unit['unit-name'] }}>
						{{ unit['unit-title'] }} ({{ unit['unit-classes']|length }} classes) - Start Date to End Date
					</a>
				</h4>
			</div>
			<div id={{ unit['unit-name'] }} class="panel-collapse collapse in">
				<div class="panel-body">
					{{ unit['unit-description'] }}
					<div class="panel-group" id={{ "accordion-" ~ unit['unit-name'] }}>
					{% for class in unit['unit-classes'] %}
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-target={{ "#" ~ unit['unit-name'] ~ "-" ~ loop.index }}>
										Pretty Time goes here
									</a>
								</h4>
							</div>
							<div id={{ unit['unit-name'] ~ "-" ~ loop.index }} class="panel-collapse collapse in">
								<div class="panel-body">
									{{ display_class(class) }}
								</div>
							</div>
						</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	{% endif %}
	</div>
</div>
{% endblock %}